proxmox_api_url = ""
proxmox_api_id = ""
proxmox_api_secret = ""
lxc_passwd = ""
ssh_public_key = ""
containers = {
  db = {
    profile = "small"
  
    network = {
      eth0 = {
        ip        = ""
      }
    }
    groups = [
      ""
    ]
  }
}
